.popup {
  width: 430px;
  min-height: 330px;
  background: #FFFFFF;
  opacity: 1;
  border-radius: 10px;
  position: fixed;
}

@media (max-width: 1279px) {
  .popup {
    width: 282px;
    min-height: 322px;
  }
}