.popup {
   width: 430px;
   height: 330px;
   background: #FFFFFF;
   border-radius: 10px;
   position: fixed;
   top: 50%;
   left: 50%;
   margin-left: -215px;
   margin-top: -165px;
   display: none;
}

@media (max-width: 1279px) {
  .popup {
    width: 282px;
    height: 322px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -141px;
    margin-top: -161px;
  }
}

/*.popup:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.5;
}*/
