.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: calc(100% - (200px * 2));
  min-height: 74px;
  margin: 45px auto 40px auto;
  align-items: flex-start;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 1279px) {
  .header {
    max-width: 320px;
    min-height: 56px;
    margin: 28px auto 42px auto;
  }
}