.profile-info__description {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  margin-left: 5;
  grid-area: description;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 336px;
}

@media (max-width: 1279px) {
  .profile-info__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: 282px;
  }
}