.profile__add-button {
  max-width: 150px;
  margin-left: auto;
  align-self: center;
  background-image: url(../../../images/add-button.svg);
}

@media (max-width: 1279px) {
  .profile__add-button {
    min-width: 282px;
    min-height: 50px;
    justify-self: center;
    margin: 0;
    background-image: url(../../../images/add-button-mob.svg);
  }
}