.profile__add-button {
  width: 150px;
  height: 50px;
  border: 0;
  border-radius: 0;
  margin-left: auto;
  align-self: center;
  background: url(../../../images/add-button.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 1279px) {
  .profile__add-button {
    width: 282px;
    height: 50px;
    justify-self: center;
    margin: 0;
    background: url(../../../images/add-button-mob.svg);
  }
}