.elements {
  display: grid;
  align-self: center;
  grid-template-columns: repeat(3, minmax(282px, 1fr));
  grid-row-gap: 18px;
  grid-column-gap: 17px;

  max-width: calc(100% - (200px * 2));
  margin: 0 auto 67px auto;

  max-width: calc(100% - (200px * 2));
  /*min-height: 74px;*/
  margin: 0 auto 50px auto;
  
  /*grid-template-areas:
    "name edit-button"
    "description empty";*/
}

/*@media (max-width: 767px) {
  .header {
    max-width: calc(1280px - (16px * 2));
    min-width: calc(100% - (16px * 2));
    margin: 16px 16px 48px 16px;
  }
}*/