.element__description {
  display: flex;
  /*max-width: 220px;*/
  max-width: calc(100% - 15px - 21px);
  margin: 25px 15px 28px 21px;
}

@media (max-width: 1279px) {
  .element__description {
    margin-bottom: 25px;
  }
}