.popup__close-icon {
  /* position: fixed; */
  position: absolute;
  width: 32px;
  height: 32px;
  /* top: 50%;
  right: 50%;
  margin-top: -205px;
  margin-right: -255px;*/
  top: -40px;
  right: -40px;
  /* background-color: transparent; */
  border: 0;
  /* border-radius: 0; */
  background: url(../../../images/popup__close-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity .2s;
  padding: 0;
}

.popup__close-icon:hover {
  /*background: url(../../../images/popup__close-icon-hover.png);*/
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 1279px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    /* top: 50%;
    right: 50%;
    margin-right: -141px;
    margin-top: -197px; */
    top: -36px;
    right: 0;
    background: url(../../../images/popup__close-icon-mob.png);
  }
}