.popup__span-error {
  font-family: 'Inter', Arial, sans-serif;
  /* position: absolute; */
  /* opacity: 0; */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  margin-left: 35px;
  margin-top: 0px;
  margin-bottom: 0;
  padding: 0;
  box-decoration-break: clone;
  -webkit-box-decoration-break:clone;
  min-height: 30px;
  display: block;
}

@media (max-width: 1279px) {
  .popup__span-error {
    margin-left: 20px;
  }
}

