.popup__profile-name {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 358px;
  margin: 0 auto 13px 35px;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 9px;
}

/*@media (max-width: 1279px) {
  .popup__profile-name {
    max-width: 282px;
    margin-left: 25px;
    font-size: 27px;
    line-height: 33px;
  }
}*/