.profile-info__edit-button {
  max-width: 24px;
  /*margin: 22px auto 66px 0;*/
  grid-area: edit-button;
  margin-top: 15px;
}

/*@media (max-width: 767px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}*/