/*GENERAL*/
@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/root/root.css);
/*SCRIPTS*/
@import url(../scripts/index.js);
@import url(../scripts/data.js);
@import url(../scripts/validate.js);
/*HEADER*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
/*PROFILE*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__photo/profile__photo.css);
@import url(../blocks/profile-info/profile-info.css);
@import url(../blocks/profile-info/__name/profile-info__name.css);
@import url(../blocks/profile-info/__description/profile-info__description.css);
@import url(../blocks/profile-info/__edit-button/profile-info__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
/*ELEMENTS*/
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__photo-place/element__photo-place.css);
@import url(../blocks/element/__description/element__description.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_checked/element__like_checked.css);
@import url(../blocks/element/__delete/element__delete.css);
/*FOOTER*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
/*POPUP*/
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__profile-field/popup__profile-field.css);
@import url(../blocks/popup/__profile-field/_type/popup__profile-field_type_name.css);
@import url(../blocks/popup/__profile-field/_type/popup__profile-field_type_job.css);
@import url(../blocks/popup/__span-error/popup__span-error.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/popup/__submit-button/_disabled/popup__submit-button_disabled.css);
@import url(../blocks/popup/__close-icon/popup__close-icon.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__profile-field/_type/popup__profile-field_type_photo-name.css);
@import url(../blocks/popup/__profile-field/_type/popup__profile-field_type_photo-link.css);
@import url(../blocks/popup/__photo/popup__photo.css);
@import url(../blocks/popup/__container_photo/popup__container_photo.css);
@import url(../blocks/popup/__photo-title/popup__photo-title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/_type/popup_type_add-photo.css);
@import url(../blocks/popup/_type/popup_type_edit-profile.css);
@import url(../blocks/popup/_type/popup_type_photo.css);
@import url(../blocks/popup/__fieldset/popup__fieldset.css);