.popup__profile-description {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 358px;
  margin: 16px auto 0 35px;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 9px;
}

@media (max-width: 1279px) {
  .popup__profile-description {
    width: 238px;
    margin: 0px auto 0 20px;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 9px;
  }
}