.profile-info__name {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  margin: 0;
  grid-area: name;
}

/*@media (max-width: 767px) {
  .header {
    max-width: calc(1280px - (16px * 2));
    min-width: calc(100% - (16px * 2));
    margin: 16px 16px 48px 16px;
  }
}*/