.footer {
  display: flex;
  justify-content: flex-start;
  margin-left: 200px;
  margin-bottom: 60px;
}

@media (max-width: 1279px) {
  .footer {
    max-width: 282px;
    margin: 0 auto 36px auto;
  }
}