.profile__photo {
  /*margin-left: -22.5px;*/
  max-width: 120px;
  border-radius: 120px;
  margin-right: 22.5px;
}

/*@media (max-width: 767px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}*/